html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial';
}
.Description {
  margin-left: 50px;
  margin-right: 50px;
  border: 2px outset black;
  background-color: #DBF5F0;    
  text-align: center;
  padding: 30px
}
.Question {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  border: 2px outset black;
  background-color: #DBF5F0;    
  text-align: center;
  padding: 20px
}
.headbackground {
  background-color: #1C3144;
}
.bodybackground {
  background-color: #fff8e4;
}
ol {
  line-style-type: none;
  width: 80%;
  margin:0 auto;
}
li{
  margin-right: 90px;
  margin-left: 90px
}

li, a {
  display: inline-block;
}
ol a { 
  background-color: #1AA7EC;
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 250px;
  padding: 20px;
  border-radius: 100px 100px;
  text-align: center
}
ol a:hover {
  color: #47B5FF;
  background: #DFF6FF;
  text-shadow: 1px 1px 1px gray;
  border: 1px solid gray; 
  box-shadow: 3px 3px 3px lightgray;
}
.centermargin{
  margin: auto;
}